{{!
    @template local_depan/courses
    
    Courses section for landing page

    Context variables:
    * str_explore_courses - Section title
    * courses - Array of course objects
    * course_url - URL to all courses page
}}

<div class="courses-section">
    <div class="container">
        <h2 class="section-title">{{str_explore_courses}}</h2>
        <div class="courses-grid">
            {{#courses}}
            <div class="course-card">
                {{#courseimageurl}}
                    <div class="course-image">
                        <a href="{{url}}">
                            <img src="{{courseimageurl}}" alt="{{fullname}}" loading="lazy" />
                        </a>
                    </div>
                {{/courseimageurl}}
                <h4><a href="{{url}}">{{fullname}}</a></h4>
                <div class="course-summary">{{{summary}}}</div>
                <a href="{{url}}" class="btn btn-outline-primary">
                    {{learn_more}}
                </a>
            </div>
            {{/courses}}
        </div>
        {{^courses}}
            <div class="text-center mt-4">
                <p>{{no_active_courses_message}}</p>
            </div>
        {{/courses}}
        <div class="text-center mt-4">
            <a href="{{course_url}}" class="btn btn-primary">
                {{str_view_all_courses}}
            </a>
        </div>
    </div>
</div>